# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==1.8.7
python-dateutil==2.4.2
WeasyPrint==0.25
django-mailer==1.1
django-libs==1.66.12

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
mock==1.0.1
django-nose==1.2
coverage==3.7.1
django-coverage==1.2.4
factory-boy==2.4.1
ipdb==0.8
flake8==2.4.1
