# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django
WeasyPrint
django-libs
python-dateutil
