body, html {
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif;
    color: black;
    font-size: 13px;
}

#address #addressEmployee, .box .boxContent, td, #payoutSum, #sum strong {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

body {
    width: 210mm;
    margin-left: auto;
    margin-right: auto;
}

#address {
    border: 1px solid #777;
    width: 300px;
    display: inline-block;
    margin-top: 100px;
}

#address #addressCompany {
    font-size: 10px;
    padding: 5px 12px;
    border-bottom: 1px dashed #ccc;
}

#address #addressEmployee {
    padding: 12px;
    font-weight: bold;
}

.box {
    background: white;
    border: 1px solid #aaa;
    padding: 3px 10px;
    float: left;
    margin-right: 5px;
}

.box .boxContent {
    font-size: 13px;
    padding: 2px 0px 0px 3px;
    display: block;
}

.box .boxHead {
    font-size: 10px;
}

.clear {
    clear: both;
}

.container {
    min-height: 280mm;
    overflow: hidden;
}

#content {
    padding: 10mm;
}

#employeeExtraFields {
    float: right;
    width: 380px;
    margin-top: 100px;
}


h1 {
    font-size: 30px;
}

h2 {
    margin: 50px 0px 15px;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

#h1Wrapper .box {
    float: right;
    margin-left: 5px;
    margin-right: 0px;
}

#h1Wrapper h1 {
    display: inline;
}

#payout {
    float: left;
}

#payout p {
    float: left;
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    padding: 2px 5px;
    margin: 3px 0;
}

#payout #payoutCurrency, #payout #payoutSum {
    border: 2px solid #333;
    padding: 0px 5px;
    margin-left: 5px;
}

#payslipMenu {
    position: fixed;
    background: black;
    padding: 5px 0;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 30px;
}

.printButton {
    margin-left: 20px;
}

.subHead {
    text-align: right;
    font-weight: bold;
    padding-top: 5px;
    font-size: 12px;
    clear: both;
}

.sum {
    font-size: 10px;
    margin: 5px 9px 5px 0px;
    float: left;
}

.sum strong {
    font-size: 14px;
}

table {
    width: 100%;
}

td, th {
    padding: 2px 40px 2px 0px;
}

th {
    font-size: 10px;
    text-align: left;
}