{% extends "payslip/payslip_base.html"  %}
{% load i18n %}

{% block head %}
{% if not form.instance.id %}
    <h1>{% trans "Create a new company" %}</h1>
{% else %}
    <h1>{{ object }}</h1>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" method="post" action=".">
            {% include "django_libs/partials/form.html" with horizontal=1 %}
            <input class="btn btn-default" type="submit" value="{% trans "Save" %}" />
        </form>
    </div>
</div>
{% endblock %}