{% extends "payslip/payslip_base.html"  %}
{% load i18n %}

{% block head %}<h1>{{ object }}</h1>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" method="post" action=".">
            {% include "django_libs/partials/form.html" with horizontal=1 %}
            {% block text %}<p>{% trans "Are you sure that you want to delete this object?" %}</p>{% endblock %}
            <input class="btn btn-default" type="submit" value="{% trans "Delete" %}" />
        </form>
    </div>
</div>
{% endblock %}